.get-started--title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  font-size: 1.6rem;
  height: 100%;
}

@media (min-width: 768px) {
  .get-started--title {
    padding-bottom: 50px;
  }
}

.get-started--text {
  text-align: center;
}

.get-started--logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
