.results--wrapper {
  text-align: center;
  padding: 100px 60px 60px 60px;
}

.results--sign-up-title {
  max-width: 60%;
  line-height: 1.25;
  margin: 40px auto;
}

.results--item {
  display: inline-block;
  margin: 20px;
  width: 80px;
  text-align: center;
  vertical-align: top;
}

.results--item p {
  line-height: 1.5rem;
  height: 3rem;
}
